In [5]:
import pandas as pd
import numpy as np

from matplotlib import pyplot as plt
import seaborn as sns

In [21]:
species = pd.read_csv('species_info.csv', encoding='utf-8')
print(species.head(10))
species.shape
species.dtypes

  category                scientific_name  \
0   Mammal  Clethrionomys gapperi gapperi
1   Mammal                      Bos bison
2   Mammal                     Bos taurus
3   Mammal                     Ovis aries
4   Mammal                 Cervus elaphus
5   Mammal         Odocoileus virginianus
6   Mammal                     Sus scrofa
7   Mammal                  Canis latrans
8   Mammal                    Canis lupus
9   Mammal                    Canis rufus

                                        common_names conservation_status
0                           Gapper's Red-Backed Vole                 NaN
1                              American Bison, Bison                 NaN
2  Aurochs, Aurochs, Domestic Cattle (Feral), Dom...                 NaN
3  Domestic Sheep, Mouflon, Red Sheep, Sheep (Feral)                 NaN
4                                      Wapiti Or Elk                 NaN
5                                  White-Tailed Deer                 NaN
6                                Feral Hog, Wild Pig                 NaN
7                                             Coyote  Species of Concern
8                                          Gray Wolf          Endangered
9                                           Red Wolf          Endangered

category               object
scientific_name        object
common_names           object
conservation_status    object
dtype: object

In [ ]:
#### species

The `species_info.csv` contains information on the different species in the National Parks. The columns in the data set include:
- **category** - The category of taxonomy for each species
- **scientific_name** - The scientific name of each species
- **common_names** - The common names of each species
- **conservation_status** - The species conservation status

In [82]:
observations = pd.read_csv('observations.csv')
print(observations.head())
observations.shape
observations.dtypes

            scientific_name                            park_name  observations
0        Vicia benghalensis  Great Smoky Mountains National Park            68
1            Neovison vison  Great Smoky Mountains National Park            77
2         Prunus subcordata               Yosemite National Park           138
3      Abutilon theophrasti                  Bryce National Park            84
4  Githopsis specularioides  Great Smoky Mountains National Park            85

scientific_name    object
park_name          object
observations        int64
dtype: object

In [ ]:
#### observations

The `Observations.csv` contains information from recorded sightings of different species throughout the national parks in the past 7 days. The columns included are:

- **scientific_name** - The scientific name of each species
- **park_name** - The name of the national park
- **observations** - The number of observations in the past 7 days

In [57]:
print(species.conservation_status.nunique())
print(species.conservation_status.unique())

4
[nan 'Species of Concern' 'Endangered' 'Threatened' 'In Recovery']

In [69]:
species.groupby('conservation_status').count()

                     category  scientific_name  common_names
conservation_status
Endangered                 16               16            16
In Recovery                 4                4             4
Species of Concern        161              161           161
Threatened                 10               10            10

In [86]:
print(observations.scientific_name.nunique())
print(observations.scientific_name.unique())

5541
['Vicia benghalensis' 'Neovison vison' 'Prunus subcordata' ...
 'Ranunculus hebecarpus' 'Gulo gulo' 'Dichanthelium depauperatum']

In [71]:
observations.groupby('park_name').count()

                                     scientific_name  observations
park_name
Bryce National Park                             5824          5824
Great Smoky Mountains National Park             5824          5824
Yellowstone National Park                       5824          5824
Yosemite National Park                          5824          5824